  <div class="container">
    <div class="text">
      <h1>o aparelho invisível<br>
        que revela seu sorriso</h1>
      <hr>
      <h2>4.9 / 5 | +15.000 avaliações*</h2>
      <button routerLink="/Cadastro">Agende pré-avaliação</button>
      <p>*de acordo com uma pesquisa interna com clientes SouSmile</p>
    </div>
  </div>

  <div class="subtitles-container">
    <div class="subtitle">
      <h1>Light</h1>
      <h4>em até 7 meses</h4>
      <hr class="light">
      <p>Casos leves de apinhamento e espaçamento dos dentes e correções de problemas leves na mordida.</p>
    </div>
    <div class="subtitle">
      <h2>Smart</h2>
      <h4>em até 12 meses</h4>
      <hr class="smart">
      <p>Casos moderados de apinhamento e espaçamento dos dentes e correções moderadas na mordida.</p>
    </div>
    <div class="subtitle">
      <h3>Plus</h3>
      <h4>em até 18 meses</h4>
      <hr class="plus">
      <p>Casos severos de apinhamento e espaçamento dos dentes e correções moderadas na mordida, associadas a problemas ortodônticos mais significativos.</p>
    </div>
  </div>

  <div class="image-container">
    <div class="image">
      <img src="https://www.sousmile.com/_next/image/?url=%2Fimages%2Fhomepage%2Fproduto-aparelho-transparente.jpg&w=1920&q=75" alt="Imagem 1">
      <div class="image-caption">
        <h3>aparelho invisível</h3>
        <p>Substitui o fixo em casos de alinhamento, espaçamento e mordida, com resultados a partir do 1º mês. Os alinhadores são sob medida e movimentam os dentes por fases, de forma rápida e tecnológica.</p>
      </div>
    </div>
    <div class="image">
      <img src="https://www.sousmile.com/_next/image/?url=%2Fimages%2Fhomepage%2Fproduto-combo-aparelho-transparente.jpg&w=1920&q=75" alt="Imagem 2">
      <div class="image-caption">
        <h3>combo smile</h3>
        <p>Aparelho invisível e clareamento do sorriso em um só tratamento, com mais praticidade e rapidez. Você aplica o gel clareador na mesma plaquinha de alinhar os dentes, apenas para dormir, durante 21 dias seguidos.</p>
      </div>
    </div>
  </div>

