<body>
  <div class="container">
    <h1>te ajudamos a achar o <br>melhor em seu sorriso</h1>
    <p>Saiba por que você pode confiar seu sorriso em nossas mãos</p>
  </div>
  <div class="separate"></div>
  <div class="content">
    <h2>quem somos</h2>
    <p>A SouSmile foi criada em 2018, em São Paulo, com o objetivo de democratizar o acesso ao sorriso e transformar a experiência de ida ao dentista. Para isso, juntamos os melhores profissionais da odontologia, ortodontia, tecnologia, marketing e experiência do cliente e abrimos a primeira unidade em Pinheiros.<br><br>

        Em pouco tempo, evoluímos para mais de 180.000 sorrisos avaliados em +500 localizações em todo o Brasil, mais de 200 colaboradores, uma fábrica própria de aparelho invisível e milhares de sorrisos revelados. No Brasil, 80% dos casos ortodônticos poderiam ser tratados com alinhadores, mas apenas 4% têm acesso a esse tipo de tratamento. Estamos aqui para mudar essa história.</p>
  </div>
  <div class="content-son">
    <div class="textos">
      <h1>acreditamos que os sorrisos devem ser revelados, e não construídos</h1>
      <p>Nossos sorrisos são portas para a conexão humana. Cada sorriso ou risada oferecem um vislumbre momentâneo de quem somos de verdade. Não queremos nos parecer com outras pessoas, queremos nos sentir como a melhor versão de nós mesmos.<br><br>
        Nós te ajudamos a achar o melhor no seu sorriso, porque mudanças sutis acabam revelando quem você sempre foi. Na SouSmile, nós celebramos isso. Somos uma comunidade de experts, dentistas e parceiros que valorizam a autenticidade sobre a perfeição. Em cada etapa da sua jornada, nós valorizamos gentileza acima de frieza e conversas acima de transações.<br><br>

        É por isso que nos preocupamos primeiro com a pessoa, e depois com o seu sorriso. Vamos te guiar para que você se sinta quem você deveria ser. O você de verdade.</p>
    </div>
    <div>
      <img src="https://www.sousmile.com/_next/image/?url=https%3A%2F%2Fwww.datocms-assets.com%2F59511%2F1651188374-aparelho-ortodontico-para-formandos.jpg&w=1920&q=75" alt="Imagem">
    </div>
  </div>
</body>
