<div class="stores-container">
  <h1>SouSmile lojas</h1>
  <div class="store-card">
    <img src="https://www.sousmile.com/_next/image/?url=https%3A%2F%2Fimages.sousmile.com%2Fstores%2F301%2Fstore_image%2F20230418150207-301-captura-de-tela-2022-07-18-102441-(1).jpg&w=1920&q=75" alt="Imagem da Loja">
    <div class="store-info">
      <h2>Casa Rebouças</h2>
      <h3>Horário de funcionamento</h3>
      <p>Segunda a Sexta 08:00 às 20:00, Sábado 10:00 às 20:00</p>
      <h3>Endereço</h3>
      <p>Av. Rebouças, 3941 - Pinheiros - São Paulo - SP</p>
      <a href="https://www.google.com/maps/place/SouSmile/@-23.5743535,-46.6970319,18.77z/data=!3m1!5s0x94ce57096a8efd8f:0x1e31469714783698!4m6!3m5!1s0x94ce570dad6f53d5:0x50068e3683a09753!8m2!3d-23.5742957!4d-46.69625!16s%2Fg%2F11gv01vfs1" target="_blank" class="map-button">Ver no mapa</a>
    </div>
  </div>

  <div class="store-card">
    <img src="https://www.sousmile.com/_next/image/?url=https%3A%2F%2Fimages.sousmile.com%2Fstores%2F2%2Fstore_image%2F20210203131147-2-loja-sousmile-top-center.jpg&w=1920&q=75" alt="Imagem da Loja">
    <div class="store-info">
      <h2>Top Center Shopping</h2>
      <h3>Horário de funcionamento</h3>
      <p>Segunda a Sexta 09:00 às 20:00, Sábado 10:00 às 20:00</p>
      <h3>Endereço</h3>
      <p>Alameda Joaquim Eugênio de Lima, 424 - Av. Paulista - São Paulo - SP</p>
      <a href="https://www.google.com/maps/place/SouSmile/@-23.5649061,-46.6525285,17z/data=!4m6!3m5!1s0x94ce598dc36da79b:0xae7b835a0620befa!8m2!3d-23.5658059!4d-46.6508012!16s%2Fg%2F11h7l0xv4d" target="_blank" class="map-button">Ver no mapa</a>
    </div>
  </div>

  <div class="store-card">
    <img src="https://www.sousmile.com/_next/image/?url=https%3A%2F%2Fimages.sousmile.com%2Fstores%2F153%2Fstore_image%2F20210714133401-153-onde_estamos_0007_08.jpg&w=1920&q=75" alt="Imagem da Loja">
    <div class="store-info">
      <h2>Morumbi Ed. RP</h2>
      <h3>Horário de funcionamento</h3>
      <p>Segunda a Sexta 08:00 às 20:00, Sábado 10:00 às 20:00</p>
      <h3>Endereço</h3>
      <p>Avenida Roque Petroni Júnior, 850 - Brooklin - São Paulo - SP</p>
      <a href="https://www.google.com/maps/place/SouSmile/@-23.6237074,-46.6980179,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce51db525a59a3:0x585e23b3e9d12a91!8m2!3d-23.6237123!4d-46.6954376!16s%2Fg%2F11fnqwq2bz" target="_blank" class="map-button">Ver no mapa</a>
    </div>
  </div>

  <div class="store-card">
    <img src="https://www.sousmile.com/_next/image/?url=https%3A%2F%2Fimages.sousmile.com%2Fstores%2F154%2Fstore_image%2F20210714133443-154-onde_estamos_0021_22.jpg&w=1920&q=75" alt="Imagem da Loja">
    <div class="store-info">
      <h2>Ipanema</h2>
      <h3>Horário de funcionamento</h3>
      <p>Segunda a Sexta 08:00 às 19:00, Sábado 10:00 às 13:00</p>
      <h3>Endereço</h3>
      <p>Rua Visconde de Pirajá, 152 - Ipanema - Rio de Janeiro - RJ</p>
      <a href="https://www.google.com/maps/place/R.+Visc.+de+Piraj%C3%A1,+152+-+Ipanema,+Rio+de+Janeiro+-+RJ,+22410-000/@-22.9841909,-43.1994078,17z/data=!3m1!4b1!4m6!3m5!1s0x9bd510b0667845:0x7f86e88814f2d671!8m2!3d-22.9841909!4d-43.1994078!16s%2Fg%2F11bw44kbd9" target="_blank" class="map-button">Ver no mapa</a>
    </div>
  </div>

  <div class="store-card">
    <img src="https://www.sousmile.com/_next/image/?url=https%3A%2F%2Fimages.sousmile.com%2Fstores%2F30%2Fstore_image%2F20210203132832-30-sousmile-brasilia-esplanada.jpg&w=1920&q=75" alt="Imagem da Loja">
    <div class="store-info">
      <h2>Esplanada Business - Asa Norte</h2>
      <h3>Horário de funcionamento</h3>
      <p>Segunda a Sexta 09:00 às 19:00, Sábado 10:00 às 14:00</p>
      <h3>Endereço</h3>
      <p>Quadra SCN 1 bloco G - Asa Norte - Brasília - DF</p>
      <a href="https://www.google.com/maps/place/Esplanada+Business/@-15.787338,-47.8821406,17z/data=!4m5!3m4!1s0x0:0x64ac7e65cbc6db12!8m2!3d-15.7867896!4d-47.8825787?shorturl=1" target="_blank" class="map-button">Ver no mapa</a>
    </div>
  </div>

  <div class="store-card">
    <img src="https://www.sousmile.com/_next/image/?url=https%3A%2F%2Fimages.sousmile.com%2Fstores%2F140%2Fstore_image%2F20210714132503-140-onde_estamos_0047_48.jpg&w=1920&q=75" alt="Imagem da Loja">
    <div class="store-info">
      <h2>BH Línea</h2>
      <h3>Horário de funcionamento</h3>
      <p>Segunda a Sexta 08:00 às 19:00, Sábado 08:00 às 13:00</p>
      <h3>Endereço</h3>
      <p>Rua Timbiras, 2072 - Lourdes - Belo Horizonte - MG</p>
      <a href="https://www.google.com/maps/place/Rua+dos+Timbiras,+2072+-+Lourdes,+Belo+Horizonte+-+MG,+30140-061/@-19.9258374,-43.9450107,17z/data=!3m1!4b1!4m5!3m4!1s0xa699e1c90f727d:0x6b8f1b0594113817!8m2!3d-19.9258374!4d-43.942822?shorturl=1" target="_blank" class="map-button">Ver no mapa</a>
    </div>
  </div>
