<main>
  <section>
    <h2>Alinhador Light</h2>
    <p>Casos leves de apinhamento e espaçamento dos dentes e correções de problemas leves na mordida.</p>
    <a routerLink="/Cadastro" class="comprar">Comprar</a>
  </section>
  <section>
    <h2>Alinhador Smart</h2>
    <p>Casos moderados de apinhamento e espaçamento dos dentes e correções moderadas na mordida.</p>
    <a routerLink="/Cadastro" class="comprar">Comprar</a>
  </section>
  <section>
    <h2>Alinhador Plus</h2>
    <p>Casos severos de apinhamento e espaçamento dos dentes e correções moderadas na mordida, associadas a problemas ortodônticos mais significativos..</p>
    <a routerLink="/Cadastro" class="comprar">Comprar</a>
  </section>
  <section>
    <h2>Clareamento</h2>
    <p>Com uma plaquinha feita sob medida em mãos, é só aplicar o gel e ficar cerca de 8h diárias com o gel no sorriso.</p>
    <a routerLink="/Cadastro" class="comprar">Comprar</a>
  </section>
  <section>
    <h2>Contenção</h2>
    <p>A contenção é um dispositivo utilizado após o tratamento ortodôntico com alinhadores invisíveis ou aparelhos suspensos para manter os dentes na posição correta..</p>
    <a routerLink="/Cadastro" class="comprar">Comprar</a>
  </section>
  <section>
    <h2>Limpeza</h2>
    <p>A limpeza profissional é realizada pelo dentista e envolve a remoção da placa bacteriana, tártaro e manchas dos dentes usando instrumentos especiais, juntamente com jatos de água e ar pressurizado. Também pode incluir polimento dos dentes para deixá-los mais suaves e brilhantes. A limpeza profissional é recomendada a cada seis meses para manter a saúde bucal e prevenir doenças dentárias.</p>
    <a routerLink="/Cadastro" class="comprar">Comprar</a>
  </section>
</main>
