<div class="form-container">
  <h2>pré-avaliação virtual</h2>
  <p>descubra se o aparelho invisível é para você em uma conversa com nossa equipe de dentistas - não substitui a necessidade de fazer a avaliação presencial</p>
  <form>
    <div class="form-group">
      <input type="text" id="name" name="name" class="form-control" placeholder="Nome" [(ngModel)]="dados.name">
    </div>
    <div class="form-group">
      <input type="text" id="cpf" name="cpf" class="form-control" placeholder="CPF" [(ngModel)]="dados.cpf">
    </div>
    <div class="form-group">
      <input type="text" id="endereco" name="endereco" class="form-control" placeholder="Endereço" [(ngModel)]="dados.address">
    </div>
    <div class="form-group">
      <input type="text" id="phone" name="telefone" class="form-control" placeholder="Telefone" [(ngModel)]="dados.phone">
    </div>
    <div class="form-group">
      <input type="text" id="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="dados.email">
    </div>
    <button (click)="createClient()" type="submit" class="btn">Enviar</button>
  </form>
</div>
