<div class="user-area">
  <h2>Minha área</h2>
  <p>aqui você pode remarcar a avaliação, agendar consultas de acompanhamento e ver em qual etapa do tratamento você está</p>
  <form action="#" method="POST">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required>
    <a href="#" class="forgot-password">Esqueceu a senha?</a>
    <button routerLink="" type="submit">Entrar</button>
  </form>
  <p>Ainda não tem uma conta? <a href="/Cadastro">Crie uma agora!</a></p>
</div>
