<footer>
  <div class="logo">
    <img src="../../../assets/imagens/logo-sousmile-coral.png" alt="Logotipo da sousmile">
  </div>
  <div class="contacts">
    <h3>Contatos</h3>
    <p>WhatsApp: (11) 93305-8978</p>
    <ul>
      <li><a href="https://www.instagram.com/sousmileoficial"><img src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_instagram-64.png" alt="Ícone do Instagram"></a></li>
      <li><a href="https://www.youtube.com/@sousmile2385"><img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/395_Youtube_logo-64.png" alt="Ícone do Youtube"></a></li>
      <li><a href="https://api.whatsapp.com/send?phone=11933058978"><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Whatsapp2_colored_svg-64.png" alt="Ícone do WhatsApp"></a></li>
    </ul>
  </div>
</footer>
